# Configurações do Servidor Express
PORT=3003

# Configurações do Banco de Dados (PostgreSQL)
DB_CLIENT=pg
DB_HOST=IP_OU_HOST_DO_BANCO
DB_PORT=5432
DB_NAME=resgatapet_db
DB_USER=seu_usuario_compartilhado
DB_PASSWORD=

# Configurações de Segurança (JWT e Senha)
JWT_SECRET=sua_chave_secreta_super_aleatoria_aqui
JWT_EXPIRES_IN=24h
BCRYPT_ROUNDS=10